/*#droppable, #droppable1
{ 
	width: 190px;
	height: 30px;
	padding: 0.5em;
	float: left;
	margin: 10px; 
}

/*#draggable,#draggable1, #draggable-nonvalid 
{ 
	/*width: 100px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
	
	width: 190px; 
	height: 30px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0;
	
	/*width:190px;
	height:30px;
	margin-left:70px;
	vertical-align: text-middle;
}*/



/*#binBox div
{
	height:30px;
	width:190px;
	margin-left:70px;
}

#binBox div.hovered { background: #aaa; }

#categoryBox div
{
	width:150px;
	height:10px;
}*/



#binBox
{
	height:500px;
	width:190px;
	margin-left:70px;
}

#categoryBox
{
	margin-top:10px;
	height:800px; 
	width:630px;
	display: block;
  	margin-right: auto;
}

/*#binBox, #categoryBox{}*/

#binBox div, #categoryBox div
{
	width:150px;
	height:10px;	
	float: left;
	margin-left: 15px;
	margin-top:-5px;
}

#binBox div.hovered { background: #aaa; }

#binBox div{ border-style: dashed;}

/* #categoryBox div{}; */

#categoryBox div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

#cat0.correct { background-color:#88B5C2 !important;}
#cat1.correct { background: red; }
#cat2.correct { background: brown; }
#cat3.correct { background: orange; }
#cat4.correct { background: yellow; }
#cat5.correct { background: green; }

#playButton
{
	height:100px; 
	font-size:210%; 
	margin-top:70px;
	margin-left:80px;
	position:absolute;
}
body{
   min-width:1000px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:1000px;             /* As IE ignores !important it will set width as 1000px; */
}
