#categoryBox div.correct
{
	background-color:#428bca;
}

#binBox
{
	height:500px;
	width:190px;
	margin-left:70px;
}

#categoryBox
{
	margin-top:10px;
	height:600px; 
	width:620px;
	display: block;
    margin-right: auto;
}

#binBox div, #categoryBox div
{
	width:100px;
	float: left;
	margin-left: 10px;
	margin-top:-10px;
	text-align: center;
}

#binBox div.hovered { background: #aaa; }

#binBox div{ 
	border-style: dashed;
	color: #C0C0C0;
	font-size: 11px;
	margin-left: -5px;
	background-color:#606060;
}

/* #categoryBox div{}; */

#categoryBox div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
} 

#binBox div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
} 

#categoryBox div.correct
{
 background-color:#428bca;
}

#playButton
{
	height:80px; 
	font-size:210%; 
	margin-top: -40px;
	margin-left: 20px;
	position:relative;
}

body{
   min-width:1000px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:1000px;             /* As IE ignores !important it will set width as 1000px; */
}
