
/*----- General ----- */
.header {
  width: 100%;
  max-height: 50px;
  background: #FFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
}
.header #logo {
  max-width: 100px;
}


/*----- Navigation -----*/

#navBar {

}

/*----- Home ----- */
#homePanelHeading
{
  margin-left: auto;
  margin-right: auto;
}

#homePanelBody
{
  height: 650px;
}
/*----- About Page -----*/
#aboutPanel
{
  margin-top: 50px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  min-width: 910px;
}

#aboutPanelBody
{
  height: 700px;
}


/*----- Game Page ----- */

#gamePageBody {
  background-image:url("../img/gamePageBackground.png");
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  vertical-align: baseline;
}

#countdown-modal-body {
  padding-left: 200px;
  font-size: 300px;
  width: 400px;
  width: 100%;
  height: 100%;
}


#numQuestionsGenerated{
  position: absolute;
  left: 200px;
}

#gamePanel{
  margin-top: 50px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#gamePanelHeading{
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

#gamePanelHeaderLabels{
  font-size: 20px;
}

#questionColumn{
  float:left;
  margin:0px auto;
  padding-left: 10px;
  padding-right: 10px;
  width:16.66%;
  height: 20%;
}

#questionColumn *{
  font-size: 100%;
  height: 100px;
}

#categoryLabel1, #categoryLabel2, #categoryLabel3, #categoryLabel4, #categoryLabel5, #categoryLabel6{
  width: 100%;
  max-width: 400px;
  font-size: 100%px;
}

/*----- Results Page ----- */

#resultsPanel{
  margin-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#resultsPanelHeader{
  font-size: 30px;
}

#resultsFooter{
  height: 55px;
}
